
@font-face {
    font-family: 'OfficeCodePro-Bold';
    src:url('OfficeCodePro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'OfficeCodePro-Medium';
    src:url('OfficeCodePro-Medium.woff') format('woff');
}