@import 'node_modules/bulma/css/bulma.css';

body {
    background-color: #EBDFF8;
    font-family: 'OfficeCodePro-Medium';
    font-size: 25px;
}

header {
    font-weight: bold;
}

ul {
    padding-top: 0.5em;
}
li {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
}

a {
    color: #4a4a4a;
} 
a:hover {
    color: #232323;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}


.bold{
    font-family: 'OfficeCodePro-Bold'
}

.medium {
    font-family: 'OfficeCodePro-Medium'
}