@import 'node_modules/bulma/css/bulma.css';

body {
    background-color: #FEE2FC;
    font-family: 'CircularStd-Bold';
    font-size: 20px;
    color: #3a3a3a;

}

header {
    font-weight: bold;
    font-size: 20px;
}

div {
    padding-top: 1.5em;
}

ul {
    padding-top: 1.5em;
}
li {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
}

a {
    color: inherit;
} 
a:hover {
    color: #1a1a1a;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}


.bold{
    font-family: 'CircularStd-Black'
}

.description {
    text-align: center;
    font-size: 35px;
    padding-top: 3em;
}