
@font-face {
    font-family: 'CircularStd-Black';
    src:url('./fonts/CircularStd-Black.otf') format('opentype');
}

@font-face {
    font-family: 'CircularStd-Bold';
    src:url('./fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'CircularStd-Medium';
    src:url('./fonts/CircularStd-Medium.otf') format('opentype');
}